{% extends 'search/base.html' %}

{% block content %}

<section class="page-section" style="background-image: linear-gradient(to top, rgba(92, 77, 66, 0.80) 50%, rgba(92, 77, 66, 0.8) 100%),url('{{ product_pic }}'); background-repeat:no-repeat;
    background-size:cover; text-shadow: white 0px 0px 2px; object-fit: fill; background-position: center;"
    id="product_name">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center text-white">
                <h3>
                    <p>{{ product_name }}</p>
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-white" id="detail">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="{{ product_pic }}"></img>
        </div>
        <div class="col-md-6 text-center">
            <p>Repères Nutritionels pour 100g</p>
            <p>Energie : {{ energy_100g }} {{ energy_unit }}</p>
            <p>Sucre : {{ sugars_100g }}</p>
            <p>Sel : {{ salt_100g }}</p>
            <p>Fibre : {{ fiber_100g }}</p>
            <p class="majuscules"> Nutriscore : {{ product_grade }}</p>
            <a class="nav-link js-scroll-trigger" href="{{ product_url }}" target=”_blank”> Voir la fiche
                d'OpenFoodFacts</a>
        </div>
    </div>

    </div>
</section>
{% endblock %}