{% extends 'search/base.html' %}

{% block content %}
{% load static %}

<section style="background-image: linear-gradient(to top, rgba(92, 77, 66, 0.80) 50%, rgba(92, 77, 66, 0.8) 100%), url('/static/search/img/fond_ecran.jpg'); background-repeat:no-repeat;
        background-size:cover; text-shadow: white 0px 0px 2px; background-position: center;object-fit:
        fill;background-repeat: no-repeat;" class="page-section bg-white">
</section>
<div class="row col-lg-12 justify-content-center text-black">
    <div class="container">
        <h3>Mot de passe oublié</h3>
        <p>Veuillez saisir votre email ci-dessous et suivre les instructions contenues dans celui-ci :</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Confirmer</button>
            </form>
    </div>
</div>
{% endblock %}