{% extends 'search/base.html' %}

{% block content %}
{% load static %}

<section style="background-image: linear-gradient(to top, rgba(92, 77, 66, 0.80) 50%, rgba(92, 77, 66, 0.8) 100%), url('/static/search/img/fond_ecran.jpg'); background-repeat:no-repeat;
        background-size:cover; text-shadow: white 0px 0px 2px; background-position: center;object-fit:
        fill;background-repeat: no-repeat;" class="page-section bg-white">
</section>
<div class="row col-lg-12 justify-content-center text-black">
    <div class="container">
        <p>
            Votre mot de passe a été ré initialisé. Suivez le lien <a href="{% url 'login' %}" </a> suivant </p>. </div>
                </div> {% endblock %}