{% extends 'search/base.html' %}

{% block content %}
{% load static %}

<section style="background-image: linear-gradient(to top, rgba(92, 77, 66, 0.80) 50%, rgba(92, 77, 66, 0.8) 100%), url('/static/search/img/fond_ecran.jpg'); background-repeat:no-repeat;
        background-size:cover; text-shadow: white 0px 0px 2px; background-position: center;object-fit:
        fill;background-repeat: no-repeat;" class="page-section bg-white">
</section>
<div class="row col-lg-12 justify-content-center text-black">
    <div class="container">
        {% if validlink %}
        <h3>Modifier votre mot de passe</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Modifier votre mot de passe</button>
        </form>
        {% else %}
        <p>
            Le lien est invalid, veuillez recommencer la procédure.
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}