{% extends 'search/base.html' %}

{% block content %}


<section class="page-section" style="background-image: linear-gradient(to top, rgba(92, 77, 66, 0.80) 50%, rgba(92, 77, 66, 0.8) 100%),url('/static/search/img/fond_ecran.jpg'); background-repeat:no-repeat;
    background-size:cover; text-shadow: white 0px 0px 2px; object-fit: fill; background-position: center;"
    id="profile">
    <h2 class="text-center text-white text-uppercase">{{ user.first_name }}</h2>
</section>
<div class="container col-lg-8 bg-white text-black text-center">
    {% if user.is_authenticated %}
    <h2>Votre adresse email : {{ user.email }}</h2>
    <div class='small'>
        <p><a href="{% url 'password' %}">Vous pouvez modifier votre mot de passe ici</a></p>
    </div>
    {% else %}
    <h2><a href="{% url 'accounts/login' %}">Enregistrez-vous ou logguez vous</a></h2>
    {% endif %}
</div>


{% endblock %}