<section class="page-section bg-secondary" id="form">
    <div class="container">
        <div class=row>
            <div class="col-md-3"></div>
            {# if user.is_authenticated #}
            <div class="col-md-6">
                <form class="input-group" action="{% url 'search' %}" method="get" accept-charset="utf-8">
                    <input id="searchForm" class="form-control" name="query"
                        placeholder="Rechercher un produit bien gras">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="searchbar">Remplacer</button>
                    </div>
                </form>
            </div>
        </div>
        {# endif #}
    </div>
</section>