{% extends 'search/base.html' %}

{% block content %}
<section class="page-section bg-white" id="produit">
    <div class="container">
        <h3>Votre recherche : {{ query }}</h3>
    </div>
</section>

<section class="page-section bg-secondary" id="list">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-sm-4 text-center">
                <div class="item">
                    <a href="{{ product.barcode }}">
                        <img class="img-responsive" src="{{ product.picture_path }}" alt="{{ product.product_name }}">
                        <span class="notify-badge">{{ product.nutriscore_grade }}</span>
                    </a>
                    <p>{{ product.product_name }}</p>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            <div class="clearfix"></div>
            {% endif %}
            {% endfor %}
        </div>
        {% if paginate %}
        <div class="clearfix"></div>
        <nav aria-label="">
            <ul class="pager">
                {% if products.has_previous %}
                <li><a href="?page={{ products.previous_page_number }}">Précédent</a></li>
                {% endif %}
                {% if products.has_next %}
                <li><a href="?page={{ products.next_page_number }}">Suivant</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>
{% endblock %}