{% include 'search/form.html' %}

<div class="row">
    {% for product in products %}
    <div class="col-sm-4 text-center">
        <a href="{{ product.barcode }}">
            <img class="img-responsive" src="{{ product.picture_path }}" alt="{{ product.product_name }}">
        </a>
        <p>{{ product.product_name }}</p>
    </div>
    {% if forloop.counter|divisibleby:3 %}
    <div class="clearfix"></div>
    {% endif %}
    {% endfor %}
</div>
{% if paginate %}
<div class="clearfix"></div>
<nav aria-label="">
    <ul class="pager">
        {% if products.has_previous %}
        <li><a href="?page={{ products.previous_page_number }}">Précédent</a></li>
        {% endif %}
        {% if products.has_next %}
        <li><a href="?page={{ products.next_page_number }}">Suivant</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}