{% extends 'search/base.html' %}

{% block content %}
{% load static %}

<section class="page-section bg-white" id="login">
    <div style="background-image: url('cookies.jpg' ); background-repeat:no-repeat;
        background-size:cover; text-shadow: white 0px 0px 2px; object-fit: fill; background-position: center;object-fit:
        fill;background-repeat: no-repeat;">
    </div>
</section>
<div class="row justify-content-center">
    <div class="container">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form action=" {% url 'login2' %}" method="post">
            {% csrf_token %}
            {# form #}

            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <input type="submit" value="login">
        </form>
    </div>
</div>
{% endblock %}