{% extends 'search/base.html' %}

{% block content %}
<section class="page-section" style="background-image: linear-gradient(to top, rgba(92, 77, 66, 0.80) 50%, rgba(92, 77, 66, 0.8) 100%),url('/static/search/img/palais-de-justice.jpg'); background-repeat:no-repeat;
    background-size:cover; text-shadow: white 0px 0px 2px; object-fit: fill; background-position: center;"
    id="mentions">
    <div class="container">
        <div class="row justify-content-center">
            <h3>Mentions Légales</h3>
        </div>
    </div>
</section>
{% endblock %}