{% extends 'search/base.html' %}

{% block content %}
<section style="background-image: url('/static/search/img/fond_ecran.jpg'); background-repeat:no-repeat;
        background-size:cover; text-shadow: white 0px 0px 2px; background-position: center;object-fit:
        fill;background-repeat: no-repeat;" class="page-section bg-white">
    <div class="container">
        <div class="row justify-content-center text-white" id="mentions">
            <h3>Mentions Légales</h3>
        </div>
    </div>
</section>

<section class="page-section bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <p><b>Editeur du site :</b>
                Société IT Consulting & Development RCS de Paris 123 456 789</p>
            <p>
                <b>Tel </b>: 01 02 00 70 007
            </p>
            <p>
                <b>Ce site est hébergé par la société Heroku :</b> Heroku Inc., 650 7th Street, San Francisco, CA (tel :
                +33 1 (877) 563-4311)
            </p>
            <br>
            <p>
                Pour toute question concernant vos données personnelles ou si vous souhaitez supprimer votre compte,
                merci de nous</p>
            <p>
                contacter à l’adresse mail suivante : privacy@purbeurre.com
            </p>
            <p>
                https://thenounproject.com/term/carrot/29691/
                https://startbootstrap.com/theme/creative
            </p>
        </div>
    </div>
</section>
{% endblock %}