{% extends 'search/base.html' %}

{% block content %}
<section style="background-image: url('/static/search/img/fond_ecran.jpg'); background-repeat:no-repeat;
        background-size:cover; text-shadow: white 0px 0px 2px; background-position: center;object-fit:
        fill;background-repeat: no-repeat;" class="page-section bg-white">
    <div class="container">
        <div class="row justify-content-center text-white" id="mentions">
            <h3>Mentions Légales</h3>
        </div>
    </div>
</section>

<section class="page-section bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <p><b>Adresse :</b>
                Woodbrass.com - 1 rue du Charron 44800 Saint-Herblain - France</p>
            <p>
                <b>Tel </b>: 02 61 88 01 40 (appel gratuit depuis un poste fixe en France métropolitaine)
            </p>
            <p>
                <b>Numéro du registre du commerce et des sociétés :</b> RCS Paris 123 123 244
            </p>
            <p>
                Numéro d'identification T.V.A. : FR 12 123 123 244
            </p>
            <p>
                <b>Adresse de contact :</b> contact@purbeurre.com
            </p>
        </div>
    </div>
</section>
{% endblock %}