{% extends 'search/base.html' %}

{% block content %}
{% load static %}

<section style="background-image: url('/static/search/img/fond_ecran.jpg'); background-repeat:no-repeat;
        background-size:cover; text-shadow: white 0px 0px 2px; background-position: center;object-fit:
        fill;background-repeat: no-repeat;" class="page-section bg-white">
</section>
<div class="row justify-content-center">
    <div class="container">
        {% if form.errors %}
        <p>Votre email et votre mot de passe ne correspondent pas. Veuillez ré-essayez.</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {# form #}
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <input type="submit" value="login">
        </form>
        <br>
        <ul>Si vous n'avez pas de compte, enregistrez-vous<a class="nav-link js-scroll-trigger"
                href="{% url 'register' %}"> ici
            </a></ul>
    </div>
</div>
{% endblock %}